<head>
   <title>Body and Pole Guernsey</title>
   <link rel="stylesheet" href="/dist/css/about.css">
</head>

<div class="container">
	<div class="row">
		<h1>About us</h1>
	</div>

	<div class="row">
		<div class='col-sm-9'>
			<p>Guernsey Body and Pole provides a fun and alternative way to lose weight, tone up, and have great fun with friends. Set up by Anneka Saunders after pursuing her passion of pole dancing, lessons are offered for a range of ages and abilities, and all are encouraged to get involved! 
			</p>

			<p>Lessons are conducted in our studio at the St Pierre Park hotel, where we have 6 poles for practice and learning.</p>

			<p>We also offer deals with St Pierre Park for birthdays and hen do's, so if you fancy a session of pole danicng coupled with a relaxing massage or day in the award winning spa at St Pierre Park, please contact us <a href="contact">here</a></p> 
		</div>
		<div class='col-sm-3'>
			<img src='images/instagram.png' class="media-img img-responsive img-rounded" alt="Responsive image">
		</div>
	</div>
</div>
