<head>
   <title>Body and Pole Guernsey</title>
   <link rel="stylesheet" href="/dist/css/about.css">
</head>

<div class="container">
	<div class="row">
		<h1>About us</h1>
	</div>

	<div class="row">
		<div class='col-sm-9'>
			<p>Guernsey Body and Pole provides a fun and alternative way to lose weight, tone up, and have great fun with friends. Set up by Anneka Saunders and Lava Lundberg after pursuing their passion of pole dance and fitness, lessons are offered for a range of abilities, and all are encouraged to get involved! 
			</p>

			<p>Lessons are conducted in the studio at La Grande Mare, where we have 5 static and spinning poles for practice and learning.</p>

			<p>We also offer deals with La Grande Mare for parties and hen do's, so if you fancy a session of pole danicng coupled with a relaxing day in the health suite please contact us <a href="contact">here</a></p> 
		</div>
		<div class='col-sm-3'>
			<img src='images/laybackseat.jpg' class="media-img img-responsive img-rounded" alt="Responsive image">
		</div>
	</div>
</div>
