<head>
   <title>Body and Pole Guernsey</title>
   <link rel="stylesheet" href="/dist/css/classes.css">
</head>

<div class="container">
	<div class="row">
		<h1>Classes</h1>
	</div>
	<div class="row">
		<div class='col-sm-6'>
			<p>We offer teaching to classes and also offer one-to-one teaching and coaching. 
			</p>

			<p>Classes are taught in groups of 6, with a session once a week, over a period of 8 weeks. The start dates currently available and pricing structure are shown in the table.</p>
		</div>
		<div class='col-sm-6'>
			<div class="table-responsive">
  				<table class="table">
    				<tr>
					  <th></th>
					  <th colspan="3">Level</th>
					</tr>
					<tr>
					  <th>Start Date</th>
					  <td>Beginner</td> 
					  <td>Intermediate</td>
					  <td>Expert<td>
					</tr>
					<tr>
					  <td>September</td>
					  <td>£80</td> 
					  <td>£100</td>
					  <td>£120<td>
					</tr>
					<tr>
					  <td>December</td>
					  <td>£80</td> 
					  <td>£100</td>
					  <td>£120<td>
					</tr>
  				</table>
			</div>
		</div>
	</div>
</div>

