<head>
   <title>Body and Pole Guernsey</title>
   <link rel="stylesheet" href="/dist/css/classes.css">
</head>

<div class="container">
	<div class="row">
		<h1>Classes</h1>
	</div>
	<div class="row">
		<div class='col-sm-6'>
			<p>We currently offer teaching in classes and also offer one-to-one teaching and coaching. 
			</p>

			<p>Classes are taught in groups of 10 participants, with a session once a week, over a period of 6 weeks. The start dates currently available and pricing structure are shown in the table. Please note that poles are 2 students per pole</p>
		</div>
		<div class='col-sm-6'>
			<div class="table-responsive">
  				<table class="table">
    				<tr>
					  <th></th>
					  <th colspan="3">Level</th>
					</tr>
					<tr>
					  <th>Start Date</th>
					  <td>Beginner Lvl 1</td> 
					  <td>Beginner Lvl 2</td>
					  <td>INtermediate lvl 3<td>
					</tr>
					<tr>
					  <td>September</td>
					  <td>£80</td> 
					  <td>£85</td>
					  <td>£coming soon<td>
					</tr>
					<tr>
					  <td>November</td>
					  <td>£80</td> 
					  <td>£85</td>
					  <td>£coming soon<td>
					</tr>
  				</table>
			</div>
		</div>
	</div>
</div>

