<head>
   <title>Body and Pole Guernsey</title>
   <link rel="stylesheet" href="/dist/css/classes.css">
</head>

<div class="container">
	<div class="row">
		<h1>Classes</h1>
	</div>
	<div class="row">
		<div class='col-sm-6'>
			<h3>Group Classes</h3>
			<p>We currently offer teaching in group classes, or one-to-one coaching. 
			</p>

			<p>Classes are taught in groups of 10 participants, with a session once a week, over a period of 6 weeks. The start dates currently available and pricing structure are shown in the table. Please note that poles are 2 students per pole</p>
			<h3>1:1 Classes</h3>
			<p>Individual and lessons as a pair coming soon. Please use our 'contact us' page to ask for further details.</p>
			<h3>Parties, team building, Hen Do's</h3>
			<p>We will cater for varying types of party or event. Please use the 'contact us' page to have a chat to us about your requirements.</p>
		</div>
		<div class='col-sm-6'>
			<div class="table-responsive">
  				<table class="table">
    				<tr>
					  <th></th>
					  <th colspan="3">Level</th>
					</tr>
					<tr>
					  <th>Start Date</th>
					  <td>Beginner Lvl 1</td> 
					  <td>Beginner Lvl 2</td>
					  <td>Intermediate Lvl 3<td>
					</tr>
					<tr>
					  <td>September</td>
					  <td>£80</td> 
					  <td>£90</td>
					  <td>£coming soon<td>
					</tr>
					<tr>
					  <td>November</td>
					  <td>£80</td> 
					  <td>£90</td>
					  <td>£coming soon<td>
					</tr>
  				</table>
			</div>
		</div>
	</div>
</div>

