<h1>Contact us</h1>
</div>
	<div class="row">
		<div class='col-sm-6'>
			<h3>Facebook page BodyandPole Gsy</h3>
			<h3>Email bodyandpole.gsy@gmail.com</h3>
			<h3>Phone 07781 190243 for Anneka</h3>
			<h3>Phone 07839 200241 for Lava.</h3>
		