<div class="container">
	<h1>Contact us</h1>

	<p>We would love to hear from you, please feel free to get in touch! 
	You can use the online form below to contact us and we will get back to you as soon as possible.
	</p>

	<div class="ticket-form">
		<div class="inner-form">
			<p>Please complete the following form to book a place on one of our January courses. Prices shown are for a course of 6 consecutive weeks, starting on the day given.</p>

			<form role='form' method="post" class='form-inline'>

	    		<input type="text" class='form-control' name="name" placeholder="Name" >
	    		<br>
	    		<input type="text" class='form-control' name="email" placeholder="Email" >
	    		<br>
	    		<input type="text" class='form-control' name="subject" placeholder="Subject" >
				<br>
				<input type="text" class='form-control' id="messagebox" name="message" placeholder="Message" >
				<br>
	    		<button type="submit" class='btn btn-success'>Confirm Booking</button>
	    	</form> 
		</div>
	</div>
	Alternatively,
	<br>
	<p>Visit our Facebook page: <a href="https://www.facebook.com/bodyandpole.gsy?ref=ts&fref=ts">BodyandPole Gsy</a>
	</p>
	<p>Email us by clicking <a href="mailto:bodyandpole.gsy@gmail.com">here</a></p>
	<p>Phone 07781 190243 for Anneka</p>
	<p>Phone 07839 200241 for Lava</p>
	<br> 
	Adress:<br>
	Body & Pole Limited <br>
	Esperanza<br>
	Rue de la Porte<br>
	Castel<br>
	Guernsey<br>
	GY5 7AW<br>

	<h3>Location</h3>

	<p>Our classes take place in the health suite at<a href="http://www.lagrandemare.com/health-club.htm">La Grande Mare</a>. During your class the studio will be set up with free standing poles of the finest quality to ensure maximum enjoyment and safety. <br> 
	Changing and shower facilities are available and complimentary towels provided free of charge. <br>

	A surcharge will apply for the use of spa and sauna. 


</div>


