<div class="container">
	<h1>Contact us</h1>

	<h3>If you have any further questions queries or inquiries, please don't hesitate to get in touch!</h3>
			<h4>Visit our Facebook page: <a href="https://www.facebook.com/bodyandpole.gsy?ref=ts&fref=ts">BodyandPole Gsy</a>
			</h4>
			<h4>Email us by clicking <a href="mailto:bodyandpole.gsy@gmail.com">here</a></h4>
			<h4>Phone 07781 190243 for Anneka</h4>
			<h4>Phone 07839 200241 for Lava</h4>
</div>


