<h1>Contact us</h1>
</div>
	<div class="row">
		<div class='col-sm-6'>
			<p>Please use our Facebook page BodyandPole Gsy, our email bodyandpole.gsy@gmail.com or phone 07781 190243 for Anneka or 07839 200241 for Lava.</p>
			