<div class="container"> 
	<h1>Information</h1>

	<h3>Please read the following information if you have booked a place to ensure you make the most out of your lessons.</h3>
	<li>
		<ul>Point one</ul>
		<ul>Another point</ul>
	</li>

</div> 
