<head>
   <title>Body and Pole Guernsey</title>
   <link rel="stylesheet" href="/dist/css/signup.css">
</head>

<div class="container">
	<h1>Sign Up!</h1>
	<h2>One on One Classes</h2>
	<p>If you are interested in booking one to one classes, where you will be given the undivided attention of our qualified instructors to perfect your skill and motivate you to beyond expectations, please email us using our contact page.</p>

	<hr>
	<h2>Group Classes</h2>
	<p>We offer a package of 8 weekly sessions. To sign up to a session please fill in the form below. On submitting the form you will be emailed to confirm your booking and complete payment.</p>

	<div class="container-inner">			
		<div class="ticket-form">
			<form role='form' method="post" class='form-inline'>

	    		<input type="text" class='form-control' name="name" placeholder="Name" >
	    		
	    		<input type="text" class='form-control' name="email" placeholder="Email" >
	    		<br>

	    		<p>Please select your preferred starting date and ability level. 

				<table class="table table-hover">
					<tr>
					  <td>	</td>
					  <td>Beginner</td>
					  <td>Intermediate</td> 
					  <td>Expert</td>
					</tr>
					<tr>
					  <td>
					  	<div class="panel-group" id="accordion4">
						  	<div class="panel panel-default">
						    	<div class="panel-heading">
						     		<h4 class="panel-title">
						        		<a data-toggle="collapse" data-parent="#accordion4" href="#collapseFour">
						          			September
						       		 	</a>
						     		</h4>
						    	</div>
						    	<div id="collapseFour" class="panel-collapse collapse">
						      		<div class="panel-body">
						        		Dates: <br> Sept 10th..
						     		</div>
						    	</div>
						  </div>
						</div>
					  </td>
					  <td>
							<input type="radio"  name="class" value="sep beg">
					  </td> 
					  <td>
							<input type="radio"  name="class" value="sep int">				
					  </td>
					  <td>	
							<input type="radio"  name="class" value="sep exp">
					  </td>
					</tr>
					<tr>
					  <td>
					  	<div class="panel-group" id="accordion2">
						  	<div class="panel panel-default">
								<div class="panel-heading">
	  								<h4 class="panel-title">
	    								<a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
	      									October
	    								</a>
	  								</h4>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse">
	  								<div class="panel-body">
	    								Dates: <br>
	    								 Oct 10th, 17th... 
	  								</div>
								</div>
	 						</div>
	 					</div>
					  </td>
					  <td>
							<input type="radio"  name="class" value="oct beg">
					  </td> 
					  <td>
							<input type="radio"  name="class" value="oct int">			
					  </td>
					  <td>					  	
							<input type="radio"  name="class" value="oct exp">				
					  </td>
					</tr>
					<tr>
					    <td>
					    	<div class="panel-group" id="accordion3">
							  	<div class="panel panel-default">
	    							<div class="panel-heading">
	      								<h4 class="panel-title">
	        								<a data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
	          									November
	        								</a>
	      								</h4>
	    							</div>
	    							<div id="collapseThree" class="panel-collapse collapse">
	      								<div class="panel-body">
	        								Dates: <br>
	        								 Nov 10th, 17th... 
	      								</div>
	    							</div>
		 						</div>
		 					</div>
					    </td>
					  <td>					  	
							<input type="radio"  name="class" value="nov beg">			
					  </td> 
					  <td>					 
							<input type="radio"  name="class" value="nov int">			
					  </td>
					  <td>					  
							<input type="radio"  name="class" value="nov exp">
					  </td>
					</tr>
				</table>

				<input type="checkbox" name="terms" value="confirm">Please tick to agree and comply with our <a href="terms_and_conditions">Terms and Conditions</a>

	    		<button type="submit" class='btn btn-success'>Confirm Booking</button>
	    	</form> 
		</div>
    </div>
</div>

