<head>
   <title>Body and Pole Guernsey</title>
   <link rel="stylesheet" href="/dist/css/signup.css">
</head>

<div class="container">
	<h1>Sign Up!</h1>
	<h2>One on One Classes</h2>
	<p>If you are interested in booking one to one classes, where you will be given the undivided attention of our qualified instructors to perfect your skill and motivate you to beyond expectations, please email us using our contact page.</p>

	<hr>
	<h2>Group Classes</h2>
	<p>We offer a package of 6 weekly sessions. The form below offers courses for beginner level 1 and beginner progressive level 2. As the courses progress more levels will become available.
	 On submitting the form you will be emailed to confirm your booking and complete payment. Please note, it is only possible to do sign up for level 2 once level 1 has been completed. If you have some experience with pole dance or fitness please contact us via email to discuss your requirements and level as you may be able to progress to a higher level without attending our earlier levels as a prerequisite.</p>

	<div class="container-inner">	
		<center>		
			<div class="ticket-form">
				<div class="inner-form">
					<p>Please complete the following form to book a place on one of our January courses. Prices shown are for a course of 6 consecutive weeks, starting on the day given. You will be emailed a confirmation as soon as the form is submitted, and will receive a link in the next 24 hours with payment details.</p>


					


				</div>
			</div>
		</center>
    </div>
</div>

